body {
  background: radial-gradient(#104486, #093469);
  color: white;
  font-family: "Anta", sans-serif;
}
.container {
  text-align: center;
}

#restartGame{
  margin-top: 15px;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: #175ab1;
  font-family: "Anta", sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

#status {
  font-size: 20px;
}

.board {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding-bottom: 15px;
  margin: 0 auto;
  justify-content: center;
  max-width: 500px;
}

.cell {
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
}

button {
  font-size: 1em;
  background-color: #093469;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: rgb(43, 42, 42);
}

button:disabled {
  background-color: #09346900;
}

.button11,
.button21,
.button31 {
  border-right: 1px solid white;
}

.button31,
.button21,
.button22,
.button32,
.button23,
.button33 {
  border-top: 1px solid white;
}

.button13,
.button23,
.button33 {
  border-left: 1px solid white;
}

.linkedin-icon{
  width: 25px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 100%;
}

.signature{
  font-family: "Anta", sans-serif;
  text-decoration: none;
  color: white;
  }

.containerLinkedinSimbol{
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  display: flex;
  flex-direction: row;
}

.myName{
  width: 90px;
  padding-left: 5px;
}